<a href="https://colab.research.google.com/github/mayankbhandari10/AI-and-ML/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><u> Python basics</u></center>
![image.png](attachment:image.png)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI


## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5
b = 'city'

In [ ]:
# print type of a
print(type(a))

<class 'int'>

In [ ]:
# print type of b
print(type(b))

<class 'str'>

In [ ]:
# swap the values of a and b
num_1= 5
num_2= 6
num_1 = num_1+num_2
num_2= num_1-num_2
num_1=num_1-num_2
print(num_1)
print(num_2)

6
5

In [ ]:
# run this to confirm

Cool! so variable declaration and getting it's type was easy.

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [ ]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print(f"value of of a ={a}, and value of b={b}")

value of of a =24, and value of b=3

In [ ]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)

a=24
b=3
print(f"Addition={a+b}")
print(f"substraction={a-b}")
print(f"multiplication={a*b}")
print(f"division={a/b}")
print(f"modulus={a%b}")
print(f"{a//b}")
print(f"{a^b}")

Addition=27
substraction=21
multiplication=72
division=8.0
modulus=0
8
27

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [ ]:
#import math

In [ ]:
import math

In [ ]:
# declare a variable x = 2 and y=5.32167
x=2
y=5.32167

In [ ]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [ ]:
# Print the minimum value between x and y
print(min(x,y))

2

In [ ]:
# Print square and cube of x and store in a and b variable
b=a**2
b=a**3
print(f"square of a={b}, cube of a={b}")

square of a=36520347436056576, cube of a=36520347436056576

In [ ]:
#print log of x and store it in variable c
c= math.log(y)
print(c)

1.6717871638686244

In [ ]:
#print minimum value between x,y,a, b and c
print(min(x,y,a,b,c))

1.6717871638686244

In [ ]:
#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

36520347436056576

In [ ]:
#print the largest integer that is smaller than or equal to c. ie.round d
maximum=max(a,b,c,x,y and > =c)
print(maximum)

SyntaxError: ignored

In [ ]:
#print the smallest integer that is greater than or equal to c ie. round up
=

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False
a = True
b = False
print(a)
print(b)

True
False

In [ ]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print()

SyntaxError: ignored

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
list_a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
even_num=[x for x in range(21) if x%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits = ["cherry","avacado","dragon fruit"]
for len_fruits in fruits:
  print(len(len_fruits))

print(fruits)
print(len_fruits)

6
7
12
['cherry', 'avacado', 'dragon fruit']
dragon fruit

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

Reference:-  https://youtu.be/LnQDWIMaJlA

In [ ]:
# declare the variables x = cat and y = dog and print it
x =  'cat'
y = 'dog'
print(x)
print(y)

cat
dog

In [ ]:
#Print first character of both x and y. 
print(x[0])
print(y[0])

c
d

In [ ]:
#Print last character of both x and y.
print(x[-1])
print(y[-2])

t
o

In [ ]:
#Print len of both x and y
print(f"length of x is {len(x)}")
print(f"length of y is {len(y)}")

length of x is 3
length of y is 3

In [ ]:
#concatenate both x and y and store it in variable z and print z
z= x+y
print(z)

catdog

In [ ]:
if x in y:
  print(true)

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a = 'pineapple'
print(a)

pineapple

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[0:4])
print(a[4:])

pine
apple

In [ ]:
#Convert a into upper case
up=a.upper()
print(up)

PINEAPPLE

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it
a='I am flying to london'
print(a)

I am flying to london

In [ ]:
#Print length of the senten
print(f"Len of sentence is {len(a)}")

Len of sentence is 21

In [ ]:
#Using list indexing, to print the word London
print(a[15:])

london

In [ ]:
# Use .split to get list of individual words in the sentence
prac_list= a.split(" ")
print(prac_list)

['I', 'am', 'flying', 'to', 'london']

In [ ]:
# Convert sentence in lower case 
print(a.lower())

i am flying to london

In [ ]:
# Convert sentence in upper case .
print(a.upper())

I AM FLYING TO LONDON

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def square(x):
     a=x**2
     print(a)
     return a

Call the function to find the value of square of 9.

In [ ]:
# find the square of 9 using the function square you have just created.
x=9
a=x**2
print(f"Square of 9 is :{a}")

Square of 9 is :81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
def check_even_odd(x):
  if x%2==0:
    print("Number is even")
  else:
    print("Number is odd")

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [ ]:
 # your code here
check_even_odd(9)
check_even_odd(36)
check_even_odd(441)

Number is odd
Number is even
Number is odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x =  4
print(x)

4

In [ ]:
#Using an if statement, print whether x is zero, positive or negative.
if x<0:
  print("Negative")
elif x==0:
  print("zero")
else:
  print("Positive")

Positive

In [ ]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
num_check=int(input("Enter the number"))
def check(num_check):
  if num_check<0:
    print("Negative")
  elif num_check==0:
    print("Zero")
  else:
    print("Positive")

check(num_check)

Enter the number-3
Negative

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x=["India","Isreal","canada"]

In [ ]:
#Using For loop, iterate over the list and print the elements.
for values in x:
  print(values)

India
Isreal
canada

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.
for i in range(1,11):
  print(2 *i)

2
4
6
8
10
12
14
16
18
20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [ ]:
#code here
x=[21,"hello","cream",20,19]
for values in x:
  type(values)
  if values== int:
   print(values)

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern
def pypart(n):
    myList = []
    for i in range(1,n+1):
        myList.append("*"*i)
    print("\n".join(myList))
 
# Driver Code
n = 5
pypart(n)

*
**
***
****
*****

## While loop

- Using while loop make a function that prints all the values between 1 to n. 

1.   List item
2.   List item

<p style='text-align: right;'> 10 points </p>

In [138]:
def counter(n):
  i = 1
  print("The List of Natural Numbers from 1 to {0} are".format(n)) 
  while ( i <= n):
    print (i, end = '  ')
    i = i + 1

counter(10)

The List of Natural Numbers from 1 to 10 are
1  2  3  4  5  6  7  8  9  10

In [ ]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [141]:
# your code here
flag= True
num=5
while (flag==True):
  num=num+5
  print(num)
  if(num>=50):
    flag=False
print(flag)

10
15
20
25
30
35
40
45
50
False

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------